extends index


block content
    .container 
    li.news-article
        h3.title #{student.first_name} #{student.last_name}
        .metadata Email: #{student.email} 
        |
        </br>
        span.metadata Student ID:#{student.id}
        |
        </br>
        span.metadata Joined in: #{student.joined_at}
        |
        </br>
        span.metadata Class number: #{student.class_num}
        |
        </br>
        span.metadata Got scholarship: #{student.scholarship}
        |
        </br>
        span.metadata Studying (yes or no): #{student.status}
        |
        |
        </br>
        time.created-date #{student.joined_at}
        |
        |
        </br>
        form(method='get' action=`/update-stud/${student.id}`)
          button(type='submit') Update the student info
        form(method='POST' action=`/delete/${student.id}?_method=DELETE`)
          button(type='submit') Delete the student from database




